extends ../layout

block content
    table 
        thead 
            tr 
                td.tcol_short Key 
                td.tcol_span Citation 
                td.tcol_short QFs
                td.tcol_short DSs
                td.tcol_short APs
        tbody
            for ref in references 
                tr
                    td= ref.refkey 
                    td= ref.citation
                    td 
                        a(href=`/factors/${ref._id}`) QFs
                    td 
                        a(href=`/dataset/${ref._id}`) DSs
                    td 
                        a(href=`/approaches/${ref._id}`) APs