extends ../layout

block append head
    link(rel='stylesheet' href='/stylesheets/filterbox.css')
    script(src='/scripts/toggleExpander.js')
    script(src='/scripts/filter.js' subjects=`${JSON.stringify(references)}` id='refkey')

block content
    h2 References 
    p This list contains references to all primary studies that have been included in the current version of the requirements quality factor ontology.

    table 
        thead 
            tr 
                td.tcol_short Key 
                td.tcol_span 
                    .dimension.dropdown-check-list
                        span.label Citation
                        ul.characteristics
                            li 
                                input(type='text' oninput=`filterScopenote('citation', this.value)` placeholder='Type to filter')
                td.tcol_icon(title='Factors and Descriptions')
                    a(href='/content/factors')
                        i.fa-solid.fa-circle
                td.tcol_icon(title='Data sets')
                    a(href='/content/datasets')
                        i.fa-solid.fa-database
                td.tcol_icon(title='Approaches')
                    a(href='/content/approaches')
                        i.fa-solid.fa-screwdriver-wrench
        tbody
            for ref in references 
                tr(id= ref.refkey)
                    td= ref.refkey 
                    td= ref.citation
                    for taxonomy of ['factors', 'datasets', 'approaches']
                        if ref[taxonomy].length > 0
                            td.tcol_icon(title=`See the ${ref[taxonomy].length} eligible ${taxonomy} of this primary study`)
                                a(href=`/content/${taxonomy}/${ref._id}`)= ref[taxonomy].length
                        else 
                            td.tcol_icon(title=`This primary study contained no eligible ${taxonomy}`)