extends layout

block append head
    link(rel='stylesheet' href='/stylesheets/landing.css')

block content
    h2 About
    p The requirements quality factor ontology is a joint initiative from the requirements quality research community to make the concept of quality factors visible, accessible, and usable. A quality factor is a normative metric which maps a textual requirement of a specific granularity to a scale which informs about the quality of this input. Factors can be evaluated on textual input without any human intervention, which makes them perfect tools for early and integrateable requirements quality assurance.


    h2 Published Material
    p Browse through previous publications (
        span 
            i.fa.fa-file(title="Paper")
        | ), associated artifacts (
        span
            i.fa.fa-database(title="Dataset")
        | ), and an accessible demos (
        span 
            i.fa.fa-gamepad(title="Demo")
        | ) where applicable.
    table.t_span
        thead
          td.tcol_icon #
          td Publication
          td.tcol_icon 
            i.fa.fa-file(title="Paper")
          td.tcol_icon
            i.fab.fa-github(title="Artifact")
          td.tcol_icon
            i.fa.fa-gamepad(title="Demo")
        - var id = 1
        each pub, index in publications
            tr
                td.tcol_icon= `[${index+1}]`
                td= pub.citation
                td.tcol_icon 
                    if pub.paper
                        a(href= pub.paper target="_blank")
                            i.fa.fa-file(title="Paper")
                td.tcol_icon
                    if pub.artifact
                        a(href= pub.artifact target="_blank")
                            i.fa.fa-database(title="Repository")
                td.tcol_icon
                    if pub.demo
                        a(href= pub.demo target="_blank")
                            i.fa.fa-gamepad(title="Demo")
            - id = id+1

    h2 Team
    p See the current members of the requirements quality factor ontology initiative below. Feel free to contact us at any time - especially in case you are interested to contribute to the project.
    .container
        for member in members
            .member.element
                img.profile.highlightable(src=`images/members/${member.id}.png`)
                h3= member.name
                .role= member.role
                p= member.desc
                .linklist
                    each link in member.links
                        a(href= link.url target="_blank")
                            case link.type
                                when "scholar"  
                                    i.linkitem.fa.fa-graduation-cap(title="Google Scholar Profile")
                                when "twitter"  
                                    i.linkitem.fab.fa-twitter(title="Twitter Profile")
                                when "home"  
                                    i.linkitem.fa.fa-home(title="Homepage")
                                when "github"  
                                    i.linkitem.fab.fa-github(title="GitHub Profile")
                                when "orcid"  
                                    i.linkitem.fa-brands.fa-orcid(title="ORCID Profile")
                                default
                                    i.linkitem.fa.fa-code
        .member.element 
            img.profile.highlightable(src='images/members/blank.png')
            h3 Join the Team 
            .role (in any role, with any amount of contribution)
            p If you are interested in requirements quality and specifically the notion of quality factors, consider contributing to the ontology. We aim at enhancing and maintaining the ontology in order to provide (1) a structure guiding reporting new quality factors and (2) a repository containing existing factors, data sets, and approaches for visibility and easy reuse. In the first step, we need your help to identify relevant publications containing quality factors and related elements. If you are interested, 
                span 
                    a(href="mailto:julian.frattini@bth.se?subject=Requirements Quality Factor Ontology") click here to contact us.
            a(href="mailto:julian.frattini@bth.se?subject=Requirements Quality Factor Ontology")
                i.linkitem.fa-solid.fa-envelope(title="Contact the team")